DB_ENGINE=django.db.backends.postgresql # указываем, что работаем с postgresql
DB_NAME=postgres # имя базы данных (установите своё)
POSTGRES_USER=postgres # логин для подключения к базе данных (установите свой)
POSTGRES_PASSWORD=postgrespassword # пароль для подключения к БД (установите свой)
DB_HOST=db # название сервиса (контейнера)
DB_PORT=5432 # порт для подключения к БД
SECRET_KEY='some_symbols_numbers_letters' # секретный ключ проекта (установите свой)
